/.idea/
/marginalia/src/main/frontend/generated/
/marginalia/src/main/frontend/index.html
/marginalia/src/main/resources/META-INF/VAADIN/config/flow-build-info.json
/data/
/marginalia/src/main/bundles/
/marginalia/target
/marginalia/plugins/*/target
retype.manifest
/marginalia/package.json
/marginalia/package-lock.json
/marginalia/node_modules
/marginalia/tsconfig.json
/marginalia/types.d.ts
/marginalia/tsconfig.json
/marginalia/types.d.ts
